:root {
    --bg-color: #001E2F;
    --font-color: #7B9E87;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    width: 100%;
}

/*Navigation Bar Elements*/
.navbar {
    background-color: var(--bg-color);
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: var(--font-color);
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    background-color: var(--font-color);
}


.navbar a {
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    border-right-style: solid;
    border-right-color: var(--font-color);
    letter-spacing: 2px;
}

.navbar li:first-child a {
    border-left-style: solid;
    border-left-color: var(--font-color);
}

.navName {
    color: #FFF;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    font-family: 'Tilt Warp';
    font-size: 22px;
    font-weight: 400;
}

/*Utilities*/
.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
}

.container p {
    padding: 0 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*Intro segment*/
.visualDesign {
    margin: 0 auto;
}

.visualizeMe img {
    width: 400px;
    user-select: none;
}

.introSegment {
    background-color: var(--bg-color);
    height: 670px;
    border-bottom-style: solid;
    border-bottom-color: var(--font-color);
    position: relative;
    align-content: center;
    /*Allows for abosolute positioning within*/
}

.introText {
    font-family: 'Tinos', sans-serif;
    display: grid;
    text-align: center;
}

.introText h1 {
    font-size: 90px;
    color: #B6BE9C;
}

.introText h3 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 100;
}

.introText a {
    border-radius: 50px;
    padding: 15px 60px;
    font-family: 'Bebas Neue', sans-serif;
    border: 4px solid #7B9E87;
    background: #001E2F;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 10px auto;

}