:root {
    --bg-color: #001E2F;
    --font-color: #7B9E87;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    width: 100%;
}

/*Navigation Bar Elements*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--bg-color);
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: var(--font-color);
    animation: dropIn 1s ease-out forwards;
}

@keyframes dropIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropInShape {
    from {
        opacity: 0;
        transform: translateY(calc(100% - 20px));
    }

    to {
        opacity: 1;
        transform: 100%;
    }
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    background-color: var(--font-color);
}


.navbar a {
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    border-right-style: solid;
    border-right-color: var(--font-color);
    letter-spacing: 2px;
}

.navbar li:first-child a {
    border-left-style: solid;
    border-left-color: var(--font-color);
}

.navName {
    color: #FFF;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    font-family: 'Tilt Warp';
    font-size: 22px;
    font-weight: 400;
}

/*Utilities*/
.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
}

.container p {
    padding: 0 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Intro segment*/
.visualDesign {
    margin: 0 auto;
    align-self: end;
}

.semicircle {
    position: absolute;
    background-color: var(--font-color);
    width: 350px;
    height: 550px;
    display: block;
    border-top-left-radius: 2000px;
    border-bottom-left-radius: 2000px;
    bottom: 0;
    transform: translateX(-24%);
    z-index: -1;
}

.medium-circle {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 70px;
    height: 70px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(-70%, 100%);
}

.triangle {
    position: absolute;
    z-index: -2;
    top: 0;
    width: 60px;
    height: 60px;
    animation: dropInShape 1s ease-out forwards;
}

.triangle-1 {
    transform: translate(62%, 470%);
}

.triangle-2 {
    transform: translate(40%, 230%);
}

.triangle-3 {
    transform: rotate(45deg) translate(38%, 30%);
}

.triangle-4 {
    transform: rotate(70deg) translate(60%, -180%);
}

.triangle-5 {
    transform: rotate(10deg) translate(36%, 410%);
}

.triangle-6 {
    transform: rotate(-30deg) translate(4%, 710%);
}

.triangle-7 {
    transform: rotate(23deg) translate(94%, 400%);
}

.triangle-8 {
    transform: translate(60%, 850%) translateZ(0.001px);
}

.circle-1 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(970%, 465%);
}

.circle-2 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(690%, 450%);
}

.circle-3 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(840%, 640%);
}

.circle-4 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(840%, 640%);
}

.circle-5 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(1050%, 960%);
}

.circle-6 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(930%, 1000%);
}

.circle-7 {
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    transform: translate(930%, 1270%);
}

.visualizeMe img {
    width: 440px;
    user-select: none;
    display: block;
}

.introSegment {
    height: 670px;
    border-bottom-style: solid;
    border-bottom-color: var(--font-color);
    position: relative;
    align-content: center;
    /*Allows for abosolute positioning within*/
}

.introText {
    font-family: 'Tinos', sans-serif;
    display: grid;
    text-align: center;
    animation: dropIn 2s ease-out forwards;
}

.introText u {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: #7B9E87;
    text-decoration-thickness: 8%;
    text-underline-offset: 16%;
}

.introText h1 {
    font-size: 90px;
    margin-bottom: 20px;
    color: #B6BE9C;
}

.introText h3 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 10;
}

.introText h4 {
    font-size: 34px;
    color: #fff;
    text-align: center;
    font-weight: 10;
}

.introText a {
    border-radius: 50px;
    padding: 15px 60px;
    font-family: 'Bebas Neue', sans-serif;
    border: 4px solid #7B9E87;
    background: #001E2F;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 20px auto;
}

.introText a:hover {
    background: #7B9E87;
}

/*Mehistory*/
.about-line {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    border-right-color: var(--font-color);
    width: calc(100vw - 15px);
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: #7B9E87;
    text-decoration-thickness: 8%;
    text-underline-offset: 25%;
    margin-bottom: 30px;
}

.about-line::before {
    content: '';
    flex: 1;
    height: 3px;
    background-color: var(--font-color);
    margin-right: 20px;
}

.about-line::after {
    content: '';
    flex: 1;
    height: 3px;
    background-color: var(--font-color);
    margin-left: 20px;
}

.eduSection {
    align-self: start;
}

.imageInfo {
    display: inline-block;
    text-align: center;
}

.imageInfo p {
    font-family: 'Tinos', sans-serif;
    color: #fff;
    animation: dropIn 2s ease-out forwards;
    margin: 10px 0 0 0;
    text-align: center;
}

.storyImg {
    border: 6px solid var(--font-color);
    border-radius: 70px;
    max-width: 350px;
    height: auto;
}

.parText {
    margin-top: 20px;
    color: #FFF;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    font-family: Tinos;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mintro {
    display: grid;
    grid-template-columns: 4fr 4fr 5fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mintro {
    display: grid;
    grid-template-columns: 4fr 4fr 5fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 1400px) {
    .mintro {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; 
        height: auto;
        gap: 15px;
    }
    
    .eduSection {
        grid-column: 1 / -1;
        grid-row: 2;
        text-align: center;
        padding: 20px;
    }
    
    .eduSection .sectionTitle {
        margin-bottom: 15px;
    }
    
    .eduSection .parText {
        width: 80%; 
        max-width: none;
        font-size: 2em;
        line-height: 1.5;
        margin: 0 auto;
    }
    
    .eduSection .shapeStorage {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 300px;
        margin-bottom: 60px
    }

    .imageInfo p {
        font-size: 1.4em;
    }
}

.sectionTitle {
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: #7B9E87;
    text-decoration-thickness: 8%;
    text-underline-offset: 25%;
}

.triangle-9 {
    border-radius: 0px;
    border-style: none;
    top: 0;
}

.circle-intro {
    border-radius: 500px;
    z-index: -1;
    width: 46px;
    height: 46px;
    background-color: var(--font-color);
    top: 0;
    margin-left: 20px;
}

.shapen {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.shapeStorage {
    position: relative;
    width: 300px;
    height: 100px;
    display: grid;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

/*Meback*/

.meBack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.backSection {
    margin: 0 auto;
    margin-left: 50px;
}

.about-right {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    border-right-color: var(--font-color);
    width: calc(100vw - 15px);
    margin-bottom: 30px;
}

.about-right::before {
    content: '';
    flex: 3;
    height: 3px;
    background-color: var(--font-color);
    margin-right: 20px;
}

.about-right::after {
    content: '';
    flex: 1;
    height: 3px;
    background-color: var(--font-color);
    margin-left: 20px;
}

/*Meinterest*/

.meInterest {
    display: grid;
    grid-template-columns: 4fr 4fr 5fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-left {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    border-right-color: var(--font-color);
    width: calc(100vw - 15px);
    margin-bottom: 30px;
}

.about-left::before {
    content: '';
    flex: 1;
    height: 3px;
    background-color: var(--font-color);
    margin-right: 20px;
}

.about-left::after {
    content: '';
    flex: 3;
    height: 3px;
    background-color: var(--font-color);
    margin-left: 20px;
}